.navbar
  background-color #DE3961
  margin-bottom 0
  
.navbar a:hover
  border-radius 15% 
  
li > a
  color #ffffff
  
.jumbotron .redditTitle
  font-size 50px
  margin-left 1%

.welcome
  margin-left 1%
  
.jumbotron
  padding-bottom 10px
  padding-top 10px
