.navbar
  background-color #DE3961
  margin-bottom 0
  
.navbar a:hover
  border-radius 15% 
  color #000
   
li > a
  color #ffffff
  
.jumbotron .redditTitle
  font-size 50px
  margin-left 1%

.welcome
  margin-left 1%
  
.jumbotron
  padding-bottom 10px
  padding-top 10px
  margin-bottom 5px
  
.container 
  background-color #FFFFDC  
  
.thumbImg
  display block
  padding 1%
  
h3
  display inline

img 
  padding-right 0.5%

.linkTitles 
  color #000000

.linkTitles:hover
  text-decoration none
  color #00ADA7

@media (max-width : 900px)
  
  .nav-item
    text-align center
  
  .redditTitle
    text-align center
    
  .welcome
    text-align center 
    
  .navbar a:hover
    border-radius 0% 
    
  h3
    font-size 14px
